extends plantilla/p1.jade

block logo
	img(src="../img/tec.png")

block imagen
	img(src="img/2.jpg") 

block main
	h1(style='text-align:center;') Instituto Tecnologico Superior de los Rios

	h2(style='text-align:center;') Ing. Sistemas Computacionales

	h2(style='text-align:center;') Programacion Web

	h2(style='text-align:center;') Unidad 1

	h2(style='text-align:center;') Francisco Javier Hernandez De La Cruz



